<header id="header">
    <div class="center">
        <div id="logo">
            <img src="assets/images/logo.png" alt="Logo">
            <span id="brand">
                <strong>Proyecto</strong> Angular
            </span>
        </div>
        <nav id="menu">
            <ul>
                <li>
                    <a href="index">Inicio</a>
                </li>
                <li>
                    <a href="blog">Blog</a>
                </li>
                <li>
                    <a href="formulario">Formulario</a>
                </li>
                <li>
                    <a href="pagina">Pagina</a>
                </li>
            </ul>
        </nav>
        <div class="clearfix"> <!--Limpiar flotados --> </div>
    </div>
</header>